@import url(https://fonts.googleapis.com/css?family=Jost:normal,bold,italic,bolditalic&display=swap);

:root {
  --text-color: #000000;
  --bg-color: #ffffff;
  --main-color: #c5001b;
  --action-color: #a10a15;
  --accent-color: #6b050d;
  --foot-color: #323232;

  font-family: "Jost", sans-serif;
}

a {
    text-decoration: none;
}

body {
  margin: 0px;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.site-section {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 120px 100% 1fr 75px;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  width: 100%;
  color: var(--text-color);
  height: 3100px;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 30px 96px 30px 96px;
  gap: 144px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;
}

nav a {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.nav-list {
  display: flex;
  text-align: center;
  list-style: none;
  gap: 50px;
}

#user-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 137px;
  height: 60px;
  background-color: var(--main-color);
  border-radius: 130px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}



