@import url(https://fonts.googleapis.com/css?family=Jost&display=swap);

:root {
    --text-color: #000000;
    --bg-color: #ffffff;
    --main-color: #C5001B;
    --action-color: #A10A15;
    --accent-color: #6B050D;
    --foot-color:#323232;
}


