#profile-link {

    background-color: orange;
    width: 492px;
    height: 70px;

  }
  
  #library-link {
    display: flex;
    justify-content: center;
    align-content: center;

    vertical-align: middle;
    line-height: 0;
  }
  
