.site-section {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 120px 209px 1980px 75px;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
    height: 100%;
  }
  
  #text-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 209px;
    background: #c6291c;
    
  }
  
  #text-header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0px;
  }
  
  #text-header a {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
    color: #ffffff;
    letter-spacing: 0.1em;
  }
  
  main {
    padding: 0px 96px 75px 96px;
  }

#profile-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 492px;
  height: 53px;
  margin-top: 75px;
  margin-bottom: 40px;
  
}

#wishlist-link {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 10px;
  width: 246px;
  height: 53px;
  border-bottom: 3px solid var(--action-color);
  box-sizing: border-box;
}

#wishlist-link p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;

}

#library-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 246px;
  height: 53px;
  border-bottom: 3px solid #d3d3d3;
  box-sizing: border-box;
}

#wishlist-link p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;

}

#library-link p {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1em;
  color: #646464;
  text-transform: uppercase;

}

#games-listing {
  display: grid;
  grid-template-columns: repeat(4, 294px);
  grid-template-rows: repeat(4, 600px);
  justify-content: space-between;
  width: 100%;
  height: 1800px;
  margin-top: 50px;
  gap: 24px;
}

.game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 294px;
  height: 553px;
  margin-bottom: 30px;
}

/* i have to fix this */
.game-image {
  margin-top: 10px;
  width: 294px;
  height: 398px;
  object-fit: cover;
}

.game-list h3 {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.remove-library-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 208px;
  height: 42px;
  background-color: var(--foot-color);
  border-radius: 130px;
  gap: 8px;

}

.remove-library-button a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.remove-library-button:hover {
  background-color: var(--action-color);
  cursor: pointer;
}

